body {
  background-image: url(table.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

.btn {
  background-color: goldenrod;
  width: 150px;
  color: #016f32;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 7px;
  margin-bottom: 4px;
  margin-top: 2px;
}
