.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px 0;
}

#count-el {
  font-size: 2.5rem;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

#count-btn {
  border-radius: 3px;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
