body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 1px solid #5f9341;
}

button {
  background-color: #5f9341;
  color: white;
  border: 1px solid #5f9341;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-top: 5px;
}
ul li a {
  color: #5f9341;
}

#delete-btn {
  background: white;
  color: #5f9341;
}
