body {
  background-color: rgb(247, 193, 157);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  border: 20px solid white;
  border-bottom: 10px solid rgb(159, 93, 170);
  padding: 20px;
  background-color: lightsteelblue;
  width: 700px;
  height: 270px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  width: 200px;
  margin-right: 50px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px black;
}
.role {
  font-size: 1.5em;
}
.content {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 2em;
}

.location {
  font-size: 1.5em;
  font-weight: 900;
}
